.ebooks {
  background-color: rgb(30, 30, 30);
  padding: 80px 0;
  margin: 80px 0px;

  .titleConatiner {
    text-align: center;
    font-style: italic;
    font-weight: bold;

    button {
      background: rgb(85, 231, 72);
      width: 100px;
      border-radius: 0px;
      color: black;
      padding: 7px;
      font-size: 14.4px;
      font-weight: 700;
      margin-top: 20px;
      margin-bottom: 52px;
      border: none;
    }
  }
}
