@import "~bootstrap/scss/bootstrap";

body {
  background-color: #0a0a0a;
  color: #fff;

  a {
    color: #fff;
    text-decoration: none;
  }

  .dropdown-menu {
    background: rgb(10, 10, 10);
    color: #fff;

    a:hover {
      background-color: #55e748;
    }
  }
}
